<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css">
<style>
    
/* ----------- GALLERY CARD ------------- */

.card {
    position: relative;
    height: 28rem;
    width: 20rem;
    background-color: #fff;
    margin: 3em 0em 4em 0em;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgba(231, 231, 231, 0.9);
    display: inline-block;
}

.header-contact {
    position: absolute;
    height: 220px;
    width: 95%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -30px;
    border: 0;
    border-radius: 12px;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    color: rgba(231, 231, 231, 0.9);
}

.header-contact .img {
    background-image: url("./images/resources/admin/ali.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    outline: 0;
}

.header-contact .img2 {
    background-image: url("./images/resources/admin/adil.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    outline: 0;
}

.header-contact .img3 {
    background-image: url("./images/resources/admin/hassa.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    outline: 0;
}

.header-contact h3 {
    position: absolute;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    top: 10.5rem;
    left: 7.5rem;
}

.header-contact p {
    position: absolute;
    font-family: sans-serif;
    color: rgb(236, 233, 233);
    font-size: 13px;
    top: 12.2rem;
    left: 5.5rem;
    font-weight: 600;
}

.header-text{
    color: #414141;
}

.body {
    position: absolute;
    height: 126px;
    left: 5px;
    right: 5px;
    top: 52%;
    border-radius: 12px;
    font-size: 2rem;
}

.body ul {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.body ul li {
    position: absolute;
    list-style: none;
    display: block;
    height: 40px;
    width: 100%;
    left: 0;
    right: 0;
    border-radius: 12px;
    background-color: transparent;
    transition: all .3s ease-in-out;
}

.body ul li p,
h3,
i {
    position: absolute;
}

.body ul li h3 {
    padding: 0.9em 0px 0.6em 0px;
    top: -0.5rem;
    left: 3rem;
    color: rgba(21, 21, 21, 0.9);
    font-size: 1.2rem;
}

.body ul li p {
    padding: 1.8em 0px 1.5em 0px;
    top: 10px;
    left: 3rem;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
    color: rgba(61, 61, 61, 0.9);
    margin-bottom: 1em;
}


.body ul li:nth-child(1) {
    top: -30px;
}

.body ul li:nth-child(2) {
    top: 30px;
}

.body ul li:nth-child(3) {
    top: 90px;
}

.body ul li:nth-child(1) i {
    left: 12px;
}

/*footer*/

.card{
    /* margin-block-end: 20em; */
}

.card{
    margin-left: 6em;
}


.card-footer {
    position: absolute;
    height: 4rem;
    bottom: -1rem;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to right, rgba(51, 51, 51), rgba(41, 41, 41, 0.9));
    border-radius: 15px;

}

.card-footer ul {
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
}

.card-footer ul li {
    margin-left: 3.3em;
    margin-top: 1.5em;
    list-style: none;
}

.card-footer ul li i {
    font-size: 20px;
    color: rgba(231, 231, 231, 0.9);
    transition: all .2s ease-in;
}

.card-footer ul li:hover i {
    transform: scale(1.1);
    color: rgba(231, 231, 231, 0.9);
    cursor: pointer;
}

.phone-icon {
    color: #414141;
    font-size: 1.5rem;
    margin-top: 0.3em;
    margin-left: 0.5em;
}

.phone {
    margin-left: 0.1em;
}
</style>


<!-- ADMIN CARDS  -->
 
 <div class="card" style="display: inline-block;">
        <div class="header-contact">
            <div class="img">

        </div>

            
        </div>
        <div class="body">
            <ul>
                <li>
                    <h3>Ali Mid Core</h3>
                    <p>Name</p>
                    <!-- <i class="fas fa-mobile-alt phone phone-icon"></i> -->
                </li>
                <li>
                    <h3>tinakdhinna@gmail.com</h3>
                    <p>Email address</p>
                    <!-- <i class="fas fa-envelope phone-icon"></i> -->
                </li>
                <li>
                    <h3>askinnybrownguy</h3>
                    <p>Git Username</p>
                    <i class="fas fa-globe-americas phone-icon"></i>
                </li>
            </ul>
        </div>

        <div class="card-footer">
            <ul class="">
                <li>
                    <i class="fab fa-facebook-f"></i>
                </li>
                <li>
                    <i class="fab fa-twitter"></i>
                </li>
                <li>
                    <i class="fab fa-github"></i>
                </li>
                <li>
                    <i class="fab fa-linkedin-in"></i>
                </li>
            </ul>
        </div>
    </div>



    <!--   ADIL   -->
    


 <div class="card">
        <div class="header-contact">
            <div class="img2"></div>
        </div>

        <div class="body">
            <ul>
                <li>
                    <h3>Adil Nuker</h3>
                    <p>Name</p>
                    <!-- <i class="fas fa-mobile-alt phone phone-icon"></i> -->
                </li>
                <li>
                    <h3>adilrana666@gmail.com</h3>
                    <p>Email address</p>
                    <!-- <i class="fas fa-envelope phone-icon"></i> -->
                </li>
                <li>
                    <h3>madilkhan002</h3>
                    <p>Git Username</p>
                    <!-- <i class="fas fa-globe-americas phone-icon"></i> -->
                </li>
            </ul>
        </div>

        <div class="card-footer">
            <ul class="">
                <li>
                    <i class="fab fa-facebook-f"></i>
                </li>
                <li>
                    <i class="fab fa-twitter"></i>
                </li>
                <li>
                    <i class="fab fa-github"></i>
                </li>
                <li>
                    <i class="fab fa-linkedin-in"></i>
                </li>
            </ul>
        </div>
    </div>



    <!--   Hassan   -->

    
 <div class="card">
        <div class="header-contact">
            <div class="img3"></div>
        </div>

        <div class="body">
            <ul>
                <li>
                    <h3>Hassan Support</h3>
                    <p>Name</p>
                    <!-- <i class="fas fa-mobile-alt phone phone-icon"></i> -->
                </li>
                <li>
                    <h3>hassanweddings@gmail.com</h3>
                    <p>Email address</p>
                    <!-- <i class="fas fa-envelope phone-icon"></i> -->
                </li>
                <li>
                    <h3>imtiazKaBeta</h3>
                    <p>Git Username</p>
                    <!-- <i class="fas fa-globe-americas phone-icon"></i> -->
                </li>
            </ul>
        </div>

        <div class="card-footer">
            <ul class="">
                <li>
                    <i class="fab fa-facebook-f"></i>
                </li>
                <li>
                    <i class="fab fa-twitter"></i>
                </li>
                <li>
                    <i class="fab fa-github"></i>
                </li>
                <li>
                    <i class="fab fa-linkedin-in"></i>
                </li>
            </ul>
        </div>
    </div>
