<style>
    
/*footer*/
*{
  margin: 0;
  padding: 0;
}

.footerBack{

}

.card {
    margin-left: 6em;
}

.card-footer {
    position: absolute;
    height: 3rem;
    bottom: -1rem;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to right, rgba(41, 41, 41), rgba(41, 41, 41, 0.8));
}

.card-footer ul {
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.card-footer ul li {
    list-style: none;
    margin-left: 2em;
}

.card-footer ul li i {
    font-size: 20px;
    color: rgba(231, 231, 231, 0.9);
    transition: all .2s ease-in;
    margin-left: 0.2em;
}

.card-footer ul li:hover i {
    transform: scale(1.2);
    color: white;
    cursor: pointer;
}

.card-footer ul > li > i{
    position: relative;
    left: 0;
    top: 0;
}

</style>

<!-- *************** FOOTER ****************-->

<div>

  <footer class="text-white text-center text-lg-start bg-dark footerBack"> 
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4" style="margin-left: -2em;">Our Goal</h5>

          <p style="margin-left: -2em; margin-right: 2em;">
            At arcade store we are trying to fulfill the promise of the availability of latest
            AAA title games in Pakistan for every platform.
          </p>

          <p style="margin-left: -2em; margin-right: 2em;">
            Our Goal is to make gaming affordable, easy and much more enjoyable
          </p>

          <div class="mt-4" style="margin-left: -4em;">
            <!-- Facebook -->
            <a type="button" class="btn" style="font-size: 1.2rem;"><i class="fa fa-facebook-f"></i></a>
            <!-- Dribbble -->
            <a type="button" class="btn" style="font-size: 1.2rem;"><i class="fa fa-dribbble"></i></a>
            <!-- Twitter -->
            <a type="button" class="btn" style="font-size: 1.2rem;"><i class="fa fa-twitter"></i></a>
            <!-- Linkedin -->
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1">About us</h5>


          <ul class="fa-ul" style="margin-left: -0.5em; width: 90%;">
            <li class="mb-3">
              <span class="fa-li"><i class=""></i></span><span class="ms-2">FAST-NU, FAST Square,
                9 Km from Faisalabad Motorway
                Interchange towards Chiniot</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-"></i></span><span class="ms-2">arcadestore@example.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-"></i></span><span class="ms-2">+ 001 69 001 69</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Opening hours</h5>

          <table class="table text-center text-white">
            <tbody class="fw-normal">
              <tr>
                <td>Mon - Thu:</td>
                <td>8am - 9pm</td>
              </tr>
              <tr>
                <td>Fri - Sat:</td>
                <td>8am - 6pm</td>
              </tr>
              <tr>
                <td>Sunday:</td>
                <td>9am - 10pm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.4);">
      © 2022 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">arcadestore.com</a>
    </div>
  </footer>

</div>
