<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/adminDash.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="shortcut icon" href="https://media.direct.playstation.com/is/image/sierialto/favicon?fmt=png-alpha"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css"> -->
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

  <%- include('partials/navbar', {path: "viewgames"}) %>


<div class="mainBackground">

  <div class="adminImage">
    <img src="https://assets.xboxservices.com/assets/ae/34/ae342a0d-b11c-4c31-9d8b-b380ba7bc3ab.jpg?n=G4E-Hub_Image-0_Welcome_1920x510.jpg" alt="ERROR 404">    
  </div>
    <div class="imagetext">
      <h1 style="color: rgba(41,41,41, 0.8);"> <b style="color: rgb(41,41,41);">Gaming</b> &nbsp;For Everyone</h1>
    </div>
</div>

    <div class="video-background js-video-background">
      
          <video playsinline loop muted class="background-player" poster="https://i.tribune.com.pk/media/images/06d8a7c076df3b090cf777525e61e9a61661326925-0/06d8a7c076df3b090cf777525e61e9a61661326925-0.jpg" controls autoplay>
            <source src="https://media.direct.playstation.com/is/content/sierialto/dualsense-edge-ps5-controller-features-trailer" type="video/mp4"/>
          </video>

      <div class="videoLeftText">
        <p class="releaseDate">
          Release Date: Nov 09, 2022
        </p>

        <h3>
          DualSense Edge <br> Wireless <br> Controller
        </h3>
        <br><br>
        <br><br><br><br><br>
        <p>Get it First.</p>
        
        <p>Get an edge in gameplay by creating your own custom controls to fit your playstyle. </p>
        <br>

        <a class="shopNow" href="https://direct.playstation.com/en-us/accessories/accessory/dualsense-edge-wireless-controller.1000033578" target="_blank">Shop</a>
      </div>

    </div>

<div class="owner-section">
    <div class="owner-text">
        <h1>Owners</h1>
    </div>
    <div class="owner-para">
        <p>The 3 owners of this store make sure that the thousand people development team works in unity
        to provide an uniterrupted shopping experience for the first time in Pakistan <br> 
        Our goal is Best Shopping Experience In Pakistan. <br>
        May the force be with us</p>
    </div>
</div>

<!-- ADMIN CARDS  -->
 
 <div class="card" style="display: inline-block;">
        <div class="header-contact">
            <div class="img">

        </div>

        </div>
        <div class="body">
            <ul>
                <li>
                    <h3>Ali Mid Core</h3>
                    <p>Name</p>
                </li>
                <li>
                    <h3>tinakdhinna@gmail.com</h3>
                    <p>Email address</p>
                </li>
                <li>
                    <h3>askinnybrownguy</h3>
                    <p>Git Username</p>
                </li>
            </ul>
        </div>

        <div class="card-footer">
            <ul class="">
                <li>
                    <i class="fa fa-facebook"></i>
                </li>
                <li>
                    <i class="fa fa-twitter"></i>
                </li>
                <li>
                    <i class="fa fa-github"></i>
                </li>
                <li>
                    <i class="fa fa-linkedin-in"></i>
                </li>
            </ul>
        </div>
    </div>

    <!--   ADIL   -->

 <div class="card">
        <div class="header-contact">
            <div class="img2"></div>
        </div>

        <div class="body">
            <ul>
                <li>
                    <h3>Adil Nuker</h3>
                    <p>Name</p>
                </li>
                <li>
                    <h3>adilrana666@gmail.com</h3>
                    <p>Email address</p>
                </li>
                <li>
                    <h3>madilkhan002</h3>
                    <p>Git Username</p>
                </li>
            </ul>
        </div>

        <div class="card-footer">
            <ul class="">
                <li>
                    <i class="fa fa-facebook-f"></i>
                </li>
                <li>
                    <i class="fa fa-twitter"></i>
                </li>
                <li>
                    <i class="fa fa-github"></i>
                </li>
                <li>
                    <i class="fa fa-linkedin-in"></i>
                </li>
            </ul>
        </div>
    </div>

    <!--   Hassan   -->

    
 <div class="card">
        <div class="header-contact">
            <div class="img3"></div>
        </div>

        <div class="body">
            <ul>
                <li>
                    <h3>Hassan Support</h3>
                    <p>Name</p>
                </li>
                <li>
                    <h3>hassanweddings@gmail.com</h3>
                    <p>Email address</p>
                </li>
                <li>
                    <h3>imtiazKaBeta</h3>
                    <p>Git Username</p>
                </li>
            </ul>
        </div>

        <div class="card-footer">
            <ul class="">
                <li>
                    <i class="fa fa-facebook-f"></i>
                </li>
                <li>
                    <i class="fa fa-twitter"></i>
                </li>
                <li>
                    <i class="fa fa-github"></i>
                </li>
                <li>
                    <i class="fa fa-linkedin-in"></i>
                </li>
            </ul>
        </div>
    </div>


<%- include ('partials/footer') %>



</body>
</html>