<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget | Pass</title>
    <link rel="stylesheet" href="/styles/validationPin.css">
</head>
<body>

    <div class="back">
        <form method="post" action="/newpassword_pf"> 
            <div class="form">
                <h1 class="verify-pin-h">New Password</h1>
                <p>Kindly Enter Your New Password, Don't Forget This Time</p>
                <input type="text" id="pass" name="pass" maxlength="30" required autocomplete="off">
                <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>

</body>
</html>